<p class="admin_links">
  <%= link_to 'Contact Groups', contact_groups_path, :class => 'fake_button' %>
</p>
<h1>New contact group</h1>

<% form_for(@contact_group) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :object => f %>
  <%= f.submit 'Create' %>
<% end %>
