<h1>New contact group</h1>

<% form_for(@contact_group) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :object => f %>
  <%= f.submit 'Create' %>
<% end %>

<p class="admin_links">
  <%= link_to 'Back to Contact Groups', contact_groups_path %>
</p>