<% div_for(@user) do %>
  <h1>Edit User <%=h @user.name_or_contact_name %></h1>
 
  <% semantic_form_for @user do |form| %>
    <% form.inputs do %>
      <%= render :partial => "form", :object => form %>
    <% end %>
    <%= form.submit "Update" %>
  <% end %>
<% end %>

<% content_for :sidebar do %>
  <%= render :partial => 'links' %>
<% end %>