<% div_for(@user) do %>
  <h1>New User</h1>

  <% semantic_form_for @user do |form| %>
    <% form.inputs do %>
      <%= render :partial => "form", :object => form %>
    <% end %>
    <%= form.submit "Create" %>
  <% end %>
<% end %>

<% content_for :sidebar do %>
  <%= render :partial => 'links' %>
<% end %>