<h1>Events</h1>

<div id="calendar_now" class="calendars"></div>
<div id="calendar_one_month" class="calendars"></div>
<div id="calendar_two_months" class="calendars"></div>

<div style="clear:both"></div>
<div id="event_quick_description" style="display:none"></div>


<% if is_admin? %>
<p style="clear:both; margin-top: 15px;">
<%= link_to 'New event', new_event_path %>
</p>
<% end %>






<% content_for :javascript do %>
<script type="text/javascript">
$(document).ready(function()
  {
    $(".nice_table").tablesorter( { widgets: ['zebra'], headers: { 3:{sorter: false}, 4:{sorter: false}, 5:{sorter: false}} });
    
    $('#calendar_now').fullCalendar({ 
      editable: false, events: "/events", height: 300, aspectRatio: 1.2,
      buttonText: { today:null, prev:null, next: null }, eventMouseover: updateEventDescription
    });
    
    $('#calendar_one_month').fullCalendar({ 
      editable: false, events: "/events", height: 300, aspectRatio: 1.2,
      buttonText: { today:null, prev:null, next: null }, eventMouseover: updateEventDescription
    });
    
    $('#calendar_two_months').fullCalendar({ 
      editable: false, events: "/events", height: 300, aspectRatio: 1.2,
      buttonText: { today:null }, eventMouseover: updateEventDescription,
      month: $('#calendar_one_month').fullCalendar('getDate').getMonth() + 1,
      viewDisplay: function(view) {
        $('#calendar_now').fullCalendar('gotoDate', $('#calendar_two_months').fullCalendar('getDate').getFullYear(), $('#calendar_two_months').fullCalendar('getDate').getMonth() - 2);
        $('#calendar_one_month').fullCalendar('gotoDate', $('#calendar_two_months').fullCalendar('getDate').getFullYear(), $('#calendar_two_months').fullCalendar('getDate').getMonth() - 1);
      }
    });           
  }
);

var updateEventDescription = function(event, jsEvent) {
  $("#event_quick_description")[0].innerHTML = "";
  $("#event_quick_description").append(
    $("<h3/>").append(
      $('<a/>', { text : event.title, href : event.url })
    )
  );
  $("#event_quick_description")[0].innerHTML += "Location: " + event.location + "<br/>";
  $("#event_quick_description")[0].innerHTML += event.description;
  
  $("#event_quick_description").show();
}
</script>
<% end %>
