<div id="file_attachments">
  <% file_attachments.group_by(&:event).sort{|e,fas| e && e.name || fas.first && fas.first.name}.each do |event, attachments| %>
    <div>
      <h2><%=h event && "Files for #{event.name}" || "General Files" %></h2>
      <%= render :partial => 'file_attachments/file_attachment', :collection => attachments %>
    </div>
  <% end %>
</div>