<h4>Explore Contacts</h4>

<p>
  <%= link_to 'Full list of Contacts', contacts_path %>
</p>


Search Contacts
<br/>
  
<% form_tag search_contacts_path, :method => :get do %>
  <%= text_field_tag 'q', params[:q], :style => "width: 120px; font-size: 11px;" %>
  <%= submit_tag 'go', :class => 'fake_button' %><br/>
<% end %>

<br/>
