<%= render :partial => "form" %>


<% content_for :sidebar do %>
  <%= render :partial => 'public_links' %>
  <% if is_admin? or (current_user and @contact.user and current_user == @contact.user) %>
    <h4>Contact Management</h4>
    <p><%= link_to "Contact Details".strip, @contact %></p>
    <% if is_admin? %>
      <p><%= link_to "Create New Contact", new_contact_path %></p>
    <% end %>
  <% end %>
<% end %>
