<% if is_admin? %>
  <%= render :partial => 'file_attachments/plupload_with_listing', :locals => {:file_attachments => @file_attachments} %>
<% else %>
<div>
  <h4>Files</h4>
  <%= render :partial => 'file_attachments/file_attachments', :object => @file_attachments %>
</div>
<% end %>
